@import "tailwindcss";

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.all {
  background: url(./image/背景.png) no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  container-type: inline-size;
}

.nav {
  text-align: center;
  margin: 10px auto;
  width: 100%;
  max-width: 600px;
  height: 50px;
  background-color: #e7effa;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  height: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  justify-content: space-between;
}

.text-white {
  gap: 320px;
  color: #1870f8;
  display: flex;
  align-items: center;
}

.sign-in {
  color: #1870f8;
  margin-left: 450px;
}

.content {
  text-align: center;
  width: 300px;
  min-height: 350px;
  background-color: #cde1ec;
  opacity: 0.8;
  margin-top: 50px;
  position: relative;
  padding-bottom: 60px;
}

.path {
  margin: 20px 0 20px 20px;
}

.content h1 {
  color: #4b8fdd;
  margin-bottom: 20px;
}

.footer {
  position: absolute;
  bottom: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-top {
  display: flex;
  flex-direction: column;
  min-height: 200px;
}

.filter {
  margin-left: 20px;
}

.footer button {
  border: solid 1px #a3d0fd;
  width: 60px;
  height: 25px;
  font-size: 12px;
  background-color: #e5f1fc;
  color: #1870f8;
  margin-left: 10px;
}

.exit {
  margin-left: 0 !important;
}

.todo_input {
  border: solid 1px #cccccc;
  background-color: #b2d0e0;
  color: #ffffff;
  width: 224px;
  height: 25px;
  font-size: 14px;
  margin-bottom: 20px;
}

.footer-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-main li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
  margin-left: 10px;
  margin-bottom: 20px;
  border: solid 1px #ffffff;
  width: 224px;
  text-align: left;
  background-color: #e6eff4;
  color: #4b8fdd;
}

.footer-main li > div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.todo_item {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: inline-block;
  border: solid 1px #a4c612;
}

.todo_item_active::after {
  content: "√";
  color: green;
}
